@import "tailwindcss";
@import './font.css';
@import "react-responsive-carousel/lib/styles/carousel.min.css";

@layer base {

    @font-face {
        font-family: Montserrat;
        src: url("/fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
        font-style: normal;

    }

    @font-face {
        font-family: Montserrat-bold;
        src: url("/fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
        font-style: normal;

    }

    @font-face {
        font-family: Roboto;
        src: url("/fonts/Roboto/static/Roboto-Regular.ttf") format("truetype");
        font-style: normal;

    }

    @font-face {
        font-family: Open-Sans;
        src: url("/fonts/Open_Sans/static/OpenSans-Regular.ttf") format("truetype");
        font-style: normal;

    }

    @font-face {
        font-family: Poppins;
        src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
        font-style: normal;
    }

    body {
        @apply bg-white-back font-roboto text-gray-text;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-montserrat-bold text-blue-dark;
    }

    a {
        text-decoration: none;
        transition: 0.3s;
        font-family: var(--font-openSans);
    }

    button {
        font-family: var(--font-openSans);
    }
}

@theme {
    --color-blue-dark: #2c3e50;
    /* header , navbar , footer , main title */
    --color-blue-light: #2980b9;
    /* a , btn ,hover ,  */
    --color-white-back: #ecf0f1;
    /* main-background */
    --color-gray-text: #95a5a6;
    /* text , icons , */
    --color-orange-btn: #e67e22;
    /* main-btn , main-point */
    --color-green-btn: #27ae60;
    /*  */

    --font-montserrat: "Montserrat";
    --font-montserrat-bold: "Montserrat-bold";
    /* header , title */
    --font-roboto: "Roboto";
    /* text */
    --font-openSans: "Open-Sans";
    /* title , text */
    --font-poppins: "Poppins";
    /* header */

    --spacing: 1px;

    --breakpoint-*: initial;
    --breakpoint-sm: 570px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    --shadow-about: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.flex-center {
    @apply flex justify-center items-center;
}

.cover-box {
    background: color-mix(in srgb, #f9f9f9, transparent 10%);
    /* background: color-mix(in srgb, color percentage, color percentage); */
}

.progress-bar-title {
    @apply block text-[14px] font-[600] text-gray-text;
}

.progress-bar-box {
    @apply h-8 w-full rounded-md mt-6;
    background: rgba(0, 0, 0, 0.1);
}

.progress-bar-box-span {
    @apply relative block h-full rounded-md opacity-0 bg-blue-light;
    animation: progress 0.4s ease-in-out forwards;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.progress-bar-box-tooltip {
    @apply text-white absolute -right-14 -top-28 text-[9px] font-[500] px-6 py-2 rounded-sm z-1 bg-blue-light;
}

.progress-bar-box-tooltip::before {
    @apply content-[''] absolute left-1/2 -bottom-2 h-10 w-10 -z-1 bg-blue-light;
    transform: translateX(-50%) rotate(45deg);
}

.about-title {
    @apply relative w-full md:text-[32px] text-[28px] font-bold mb-20 pb-10;
}

.about-title::before {
    @apply content-[''] absolute block w-160 h-1 left-0 right-0 bottom-1 m-auto;
    background: color-mix(in srgb, #272829, transparent 60%);
}

.about-title::after {
    @apply content-[''] absolute block w-60 h-3 left-0 right-0 bottom-0 m-auto;
    background: #0563bb;
}

.experience-title {
    @apply relative w-full md:text-[32px] text-[28px] font-bold mb-20 pb-10;
}

.experience-title::before {
    @apply content-[''] absolute block w-400 h-1 left-0 right-0 bottom-1 m-auto;
    background: color-mix(in srgb, #272829, transparent 60%);
}

.experience-title::after {
    @apply content-[''] absolute block w-60 h-3 left-0 right-0 bottom-0 m-auto;
    background: #0563bb;
}

.experience-card {
    @apply relative md:w-1/2 w-full mb-30;
}

.experience-card::before {
    @apply content-[''] absolute size-0 top-46 right-10 z-3;
    border-width: 10px;
}

.experience-card::after {
    @apply content-[''] absolute size-16 top-48 -right-8 z-3 bg-white;
    border: 2px solid #000000;
    border-radius: 16px;
}

.portfolio-title {
    @apply relative w-full md:text-[32px] text-[28px] font-bold mb-20 pb-10;
}

.portfolio-title::before {
    @apply content-[''] absolute block w-160 h-1 left-0 right-0 bottom-1 m-auto;
    background: color-mix(in srgb, #272829, transparent 60%);
}

.portfolio-title::after {
    @apply content-[''] absolute block w-60 h-3 left-0 right-0 bottom-0 m-auto;
    background: #0563bb;
}

.contact-title {
    @apply relative w-full md:text-[32px] text-[28px] font-bold mb-20 pb-10;
}

.contact-title::before {
    @apply content-[''] absolute block w-160 h-1 left-0 right-0 bottom-1 m-auto;
    background: color-mix(in srgb, #272829, transparent 60%);
}

.contact-title::after {
    @apply content-[''] absolute block w-60 h-3 left-0 right-0 bottom-0 m-auto;
    background: #0563bb;
}

.cover-web {
    @apply absolute top-0 bottom-0 left-0 right-0 z-2;
    background: linear-gradient(9deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 55%);
}

.Justify-text {
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    overflow-wrap: normal;
    /* یا word-wrap: break-word; */
}

.skill-back {
    @apply md:size-80 size-60 rounded-2xl;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* start filter portfolio styles */

/* From Uiverse.io by zanina-yassine */

.tab-container {
    @apply relative flex items-start p-2 bg-blue-dark rounded-lg;
}

.indicator {
    @apply content-[''] md:w-130 w-90 h-full bg-white absolute top-0 left-0 bottom-0 right-0 z-9;
    border-radius: 7px;
    transition: all 0.2s ease-out;
}

.tab {
    @apply md:w-130 w-90 h-28 absolute z-99 opacity-0 outline-none;
}

.tab_label {
    @apply md:w-130 w-90 h-28 relative flex justify-center items-center z-999 border-0 text-[12px] cursor-pointer;
}

.tab--1:checked~.indicator {
    left: 0;
}

.tab--2:checked~.indicator {
    left: 130px;
}

.tab--3:checked~.indicator {
    left: calc(130px * 2 + 4px);
}

@media (max-width:768px) {
    .tab--2:checked~.indicator {
        left: 90px;
    }

    .tab--3:checked~.indicator {
        left: calc(90px * 2 + 4px);
    }
}

/* end filter portfolio styles */

/* start carousel styles */

.carousel-root {
    @apply flex md:flex-row flex-col relative justify-between;
}

.carousel {
    @apply md:w-[15%] w-full;
}

.carousel-slider {
    width: 85% !important;
}

.carousel .thumbs-wrapper {
    @apply md:w-full md:h-540 w-max h-auto m-0 overflow-y-auto;
}

.thumbs {
    @apply flex md:flex-col flex-row items-center w-full h-auto;
    transform: none !important;
}

.carousel .thumb {
    @apply h-auto rounded-md my-5;
    width: 90% !important;
}

.carousel .slide {
    @apply m-0;
}

@media (max-width:768px) {
    .carousel-slider {
        width: 100% !important;
    }

    .carousel {
        overflow-x: auto;
    }

    .carousel .thumb {
        width: 25% !important;
    }
}

/* end carousel styles */

/* start header styles */
.header-icon {
    @apply md:h-22 h-18;
}

.header-icon2 {
    @apply h-17;
}

/* end header styles */

/* srat social styles */
.socialMedia-item {
    @apply md:size-50 size-40 flex items-center justify-center mx-0 my-5;
    transform-style: preserve-3d;
    transition: all 0.3s cubic-bezier(0.68, 0.85, 0.265, 1.85);
    border-radius: 5px;
    box-shadow:
        inset 1px 1px 2px #fff,
        0 0 5px #4442;
}

.socialMedia-item:hover {
    background-color: white;
    background-position:
        -100px 100px,
        -100px 100px;
    /*transform: rotate3d(0.5, 1, 0, 30deg);*/
    transform: perspective(180px) rotateX(60deg) translateY(2px);
}

.child-1:hover {
    box-shadow: 0px 10px 10px #1e90ff;
}

.child-2:hover {
    box-shadow: 0px 10px 10px #ff00ff;
}

.child-3:hover {
    box-shadow: 0px 10px 10px #000;
}

.child-4:hover {
    box-shadow: 0px 10px 10px #4267b2;
}

.socialMedia-item:hover>.Hover3D {
    transform: translate3d(0px, 20px, 30px) perspective(80px) rotateX(-60deg) translateY(2px) translateZ(10px);
}

/* end social styles */

/* start hamburger styles */

#checkbox {
    @apply hidden;
}

.toggle {
    @apply relative size-40 flex flex-col justify-center items-center gap-10 transition duration-300 cursor-pointer;
    scale: .5;
}

.bars {
    @apply w-full h-4 bg-white transition duration-300;
    border-radius: 5px;
}

/* #checkbox:checked + .toggle .bars {
    margin-left: 13px;
  } */

#checkbox:checked+.toggle #bar2 {
    @apply ml-0 origin-right transition duration-300 z-2;
    transform: translateY(14px) rotate(60deg);
}

#checkbox:checked+.toggle #bar1 {
    @apply origin-left transition duration-300 z-1;
    transform: translateY(28px) rotate(-60deg);
}

#checkbox:checked+.toggle {
    transform: rotate(-90deg);
}

/* #checkbox:checked + .toggle #bar3 {
    transform: rotate(90deg);
    transition-duration: .3s;
    transform-origin:right;
  } */

/* end hamburger styles */

/* start menu styles */
.offcanvas-menu {
    @apply flex items-center fixed top-0 bottom-0 -left-250 w-250 h-full bg-white p-20 z-1000;
    transition: left 0.3s ease;
}

.open {
    @apply left-0;
}

li {
    @apply mx-15 my-0 w-130;
}

.overlay {
    @apply fixed top-0 left-0 size-full z-100;
}

/* end menu styles */

/* start arrow bottom */

.Arrow {
    @apply md:w-30 md:h-40 w-20 h-30 absolute left-1/2 bottom-0 transition-transform duration-100 z-100 cursor-pointer;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.Arrow-top,
.Arrow-bottom {
    @apply absolute top-1/2 -left-5 w-full h-4 bg-black;
}

.Arrow-top:after,
.Arrow-bottom:after {
    @apply bg-white content-[''] h-full absolute top-0 transition-all duration-[0.15s];
}

.Arrow-top {
    @apply origin-bottom-right rotate-45;
}

.Arrow-top:after {
    @apply left-full right-0 delay-0;
}

.Arrow-bottom {
    @apply origin-top-right -rotate-45;
}

.Arrow-bottom:after {
    @apply left-0 right-full delay-[0.15s];
}

.Arrow:hover .Arrow-top:after {
    @apply left-0 delay-[0.15s];
}

.Arrow:hover .Arrow-bottom:after {
    @apply right-0 delay-0;
}

.Arrow:active {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
}

/* end arrow bottom */

